:root {
  --project-accent-light: #FF5184;
  --project-hover-light: #E43F72;
  --project-secondary-light: #8839ef;
  --project-accent-dark: #f38ba8;
  --project-hover-dark: #eb6f92;
  --project-secondary-dark: #cba6f7;
}
